{% extends "template.html" %}
{% block body_class %}pull_top{% endblock %}
{% block content %}
  {% include 'template_menu.html' %}
    {% load staticfiles %}
  <section id="feature_slider" class="lol" style="background: #006e93 url('{% static 'img/header-decorator.png' %}') no-repeat top left;"> 
  	<h1>S.E.E</h1>
  	<h3>Soongsil Electronic Exhibition<br>Since 1971</h3>
	</section>

	<div id="showcase">
	    <div class="container">
	        <div class="section_header">
	            <h3>Intro</h3>
	        </div>            
	        <div class="row feature_wrapper">
	            <!-- Features Row -->
	            <div class="features_op1_row">
	                <!-- Feature -->
	                <div class="col-sm-4 feature first">
	                    <div class="img_box">
                            <img src="{% static 'img/service1.png' %}">
	                    </div>
	                    <div class="text">
	                        <h6>We In SSU</h6>
	                        <p>
	                            숭실대학교 전자전시회(S.E.E)는 1971년 전자공학과 내 소모임으로 출발하여, 1978년 10월 제 1 회 전자전시회를 개최함으로써 본격적인 학회로서의 시작을 맞이하였습니다.
	                        </p>
	                    </div>
	                </div>
	                <!-- Feature -->
	                <div class="col-sm-4 feature">
	                    <div class="img_box">
                            <img src="{% static 'img/service2.png' %}">
	                    </div>
	                    <div class="text">
	                        <h6>Hardware</h6>
	                        <p>
	                            Hardware와 Software의 기본 지식을 중심으로 하여 Operating System, Network, Multimedia 등 다양한 분야를 접목ㆍ응용하여, 그에 대한 작품들을 제작하고 전시회를 개최하고 있습니다. 
	                        </p>
	                    </div>
	                </div>
	                <!-- Feature -->
	                <div class="col-sm-4 feature last">
	                    <div class="img_box">
	                        <img src="{% static 'img/service3.png' %}">
	                    </div>
	                    <div class="text">
	                        <h6>Software</h6>
	                        <p>
	                            Software는 C/C++ language을 중심으로 Algorithm을 이해하고 적용합니다. 최근에는 모바일 연동을 위한 Android, 웹 구축을 위한 Python-Django, 게임개발을 위한 Unity 등을 사용하여 다양한 시도를 하고 있습니다.
	                        </p>
	                    </div>
	                </div>
	            </div>
	        </div>
	    </div>
	</div>
{% endblock %}