<!DOCTYPE html>
<html>
<head>
	<title>S.E.E</title>
    <meta charset="utf-8">
    <meta name="description" content="숭실대 전자전시회 소모임 홈페이지">
    <meta name="author" content="Luavis, wikibootup">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="IE=edge, chrome=1">
    {% load staticfiles %}

    <!-- Styles -->
    <link href="{% static 'css/bootstrap/bootstrap.min.css' %}" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/compiled/bootstrap-overrides.css' %}">
    <link rel="shortcut icon" href="{% static 'img/favicon.ico' %}" type="image/x-icon">
    <link rel="icon" href="{% static 'img/favicon.ico' %}" type="image/x-icon">
    <link href='http://fonts.googleapis.com/css?family=Lato:300,400,700,900,300italic,400italic,700italic,900italic' rel='stylesheet' type='text/css' />

    <link rel="stylesheet" href="{% static 'css/compiled/index.css' %}" type="text/css" media="screen" />
    <link rel="stylesheet" type="text/css" href="{% static 'css/lib/animate.css' %}" media="screen, projection" />
    <link rel="stylesheet" href="{% static 'css/style.css' %}" />
    <link rel="stylesheet" href="{% static 'css/board-table.css' %}" />

    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    {% block stylesheet %}
    {% endblock %}

    <script src="https://www.google.com/recaptcha/api.js" async defer></script>

</head>
<body class="{% block body_class %}{% endblock %}">
    <div id="reponsive-safe-box">
        {% block content %}
        {% endblock %}
    </div>
    {% include 'message.html' %}
    <footer id="footer">
        <div class="container">
            <div class="row sections">
                <div class="row copyright text-center">
                        &copy; 2015 <a href="http://github.com/ssu-see">SEE</a>. All rights reserved.
                </div>
                <p class="text-center copyright">서울시 동작구 상도로 369 숭실대학교 형남공학관 524호 전자전시회</p>
            </div>
        </div>
    </footer>

    <!-- Scripts -->
    <script src="{% static 'js/jquery-latest.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/theme.js' %}"></script>
    <script src="{% static 'js/jquery.gritter.min.js' %}"></script>
    <script>setTimeout(function() {$('.gritter-item-wrapper').fadeOut('slow');}, 5000);</script>
    {% block javascript %}
    {% endblock %}
</body>
</html>
