{% extends "template.html" %}
{% block content %}
  {% include "template_menu.html" %}
  {% load boards_custom_tags %}
    <div class="col-sm-3 col-md-2 sidebar">
      <ul class="nav nav-sidebar">
      </ul>
      <ul class="nav nav-sidebar">
        <li class="active"><a href="{% url 'linkboard:linkpost' %}">Link Post<span class="sr-only">(current)</span></a></li>
        <li><a href="">Go back to board</a><span class="sr-only">(current)</span></li>
 
        {% if has_previous %}
          <li><a href="{% url 'linkboard:linkboardpage' previous_page %}">Prev</a></li>
        {% endif %}
    
        {% if has_next %}
          <li><a href="{% url 'linkboard:linkboardpage' nextpage %}">Next</a></li>
        {% endif %}

        <form action="" method="POST">{% csrf_token %}
          <li><input class="form-control" type="text" name="search_description" placeholder="Search Description"></li>
        </form>
    </div>
    <div class="container-fluid">
      <div class="row">
       <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
         <h1 class="page-header">Link board
           {% if top51 and searchvalue %}
             {{ top50 }} : "{{searchvalue}}" 
           {% endif %}
         </h1>

          <div class="table-responsive">
            <table class="table table-striped board-table">
              <thead>
                <tr>
                  <th class="number">no</th>
                  <th class="description">description</th>
                  <th class="writer">writer</th>
                  <th class="date">date</th>
                  <th class="edit"></th>
                  <th class="delete"></th>
                </tr>
              </thead>
              <tbody>
                {% if posts %}
                  {% for post in posts %}
                    <tr>
                      <td class="number">
                        <div>
                          {{ forloop.counter|add:post_base_index}}
                        </div>
                      </td>
                      <td class="description">
                        <a href="{{post.url}}" target="_blank">{{ post.description }}</a>
                      </td>
                      <td class="writer">{{ post.writer.username }}</td>
                      <td class="date">{{ post.date_posted | date:"Y.m.d"}} </td>
                        {% if post.writer == user %}
                          <td class="edit">
                            <button type="button" class="btn btn-default btn-xs"><a href="{% url 'linkboard:updatelinkpost' post.id %}">Edit</a></button>
                          </td>
                          <td class="delete">
                            <button type="button" class="btn btn-danger btn-xs"><a href="{% url 'linkboard:deletelinkpost' post.id %}">Delete</a></button>
                          </td>
                      {% else %}
                        <td class="edit">
                        <td class="delete">
                      {% endif %}
                    </tr>
                  {% endfor %}  
                 {% endif %}
               </tbody>
            </table>
                <div class="page-footer">
                 {% if has_previous %}
                   <a href="{% url 'linkboard:linkboardpage' previous_page %}">Prev</a>
                 {% endif %}
    
                 {% if has_next %}
                   <a href="{% url 'linkboard:linkboardpage' nextpage %}">Next</a>
                 {% endif %}

                 </div>
          </div>
        </div>
      </div>
    </div>


{% endblock %}

