{% extends "template.html" %}

{% block content %}
  {% include "template_menu.html" %}
  {% load staticfiles %}
  {% load domain_extract %}
  {% load linkboard_image %}
  
  <div class="container">
    <h3 class="page-header">Link Board</h3>
    <div class="clearfix" style="margin-bottom: 20px;">
      <a href="{% url 'linkboard:linkpost' %}" class="btn btn-default fr">
        <span class="glyphicon glyphicon-pencil"></span>&nbsp;Write
      </a>
    </div>
    <div class="row">
      {% for post, index in mixed_posts %}
      <a href="{{ post.url }}" target="_blank">
        <div class="col-sm-6 col-md-4">
          <div class="thumbnail linkboard-thumbnail-wrapper">
            <div class="link-board-thumbnail" style="background-image: url({{ post.url | linkboard_image}});"></div>
            <div class="caption">
              <h4>{{ post.url | domain_extract | truncatechars:20 }}</h4>
              <p class="writer">- {{ post.writer.username | truncatechars:40 }} -</p>
              <p>{{ post.description | truncatechars:25 }}</p>
            </div>
            {% if post.writer == user %}
            <div class="post-command">
              <a href="{% url 'linkboard:updatelinkpost' post.id %}" class="btn btn-default btn-xs">Edit</a>
              <a href="{% url 'linkboard:deletelinkpost' post.id %}" class="btn btn-danger btn-xs">Delete</a>
            </div>
            {% endif %}
          </div>
        </div>
      </a>
      {% endfor %}
    </div>
  </div>
  <div class="text-center board-footer-list">
    <div class="btn-toolbar inline-block" role="toolbar">
      <div class="btn-group btn-group-sm" role="group">
        <a href="{% url 'linkboard:linkboard' prev_page %}"
          class="btn btn-default {% if prev_page == 0 %} disabled {% endif %}">
          Prev
        </a>
      </div>
      <div class="btn-group btn-group-sm" role="group">
        {% for page in page_range %}
          <a href="{% url 'linkboard:linkboard' page %}"
          class="btn btn-default {% if page == current_page %} active {% endif %}"}>
            {{ page }}
          </a>
        {% endfor %}
      </div>
      <div class="btn-group btn-group-sm" role="group">
          <a class="btn btn-default" href="{% url 'linkboard:linkboard' next_page %}"
            {% if next_page == 0 %} disabled {% endif %}}>
            Next
          </a>
      </div>
    </div>
  </div>
{% endblock %}

{% block stylesheet %}
  <link href="{% static 'css/link_board.css'%}" rel="stylesheet">
{% endblock %}
