{% extends "template.html" %}
{% block content %}
{% include "template_menu.html" %}
<div class="container">
  <h3 class="page-header">Link Board</h3>

  <form class="form-horizontal" role="form" method="POST">{% csrf_token %}
    <div class="form-group form-group-lg">
      <div class="col-sm-12">
        <input class="form-control" name="url" type="url" id="formGroupInputLarge" placeholder="Enter URL ( Add Protocol In Front Of URL, such as 'http://' or 'https://')" maxlength="200" onkeydown="if (event.keyCode == 13) {     return false;}" value="{{post.url}}" required autofocus>
        <br>
        <input class="form-control" name="description" type="text" id="formGroupInputLarge" placeholder="Write description" maxlength="255" onkeydown="if (event.keyCode == 13) { return false;}" value="{{post.description}}" required>
        <br>
        <input class="btn btn-primary btn-lg" name="post" type="submit" value="POST">
      </div>
    </div>
  </form>
</div>
{% endblock %}



