{% extends "template.html" %}
{% load staticfiles %}

{% block content %}
  {% include 'template_menu.html' %}
    <div id="sign_up2">
        <div class="container">
            <div class="section_header">
                <h3>Sign up</h3>
            </div>
            <div class="row login">
                <div class="col-sm-5 left_box">
                    <h4>계정을 만들어 주세요</h4>

                    <div class="perk_box">
                        <div class="perk">
                            <span class="icos ico1"></span>
                            <p><strong>전자전시회</strong>회원이라면 계정을 만들어주세요.</p>
                        </div>
                        <div class="perk">
                            <span class="icos ico2"></span>
                            <p><strong>Captcha</strong>를 올바르게 입력해야 회원가입이 가능합니다.</p>
                        </div>
                        <div class="perk">
                            <span class="icos ico3"></span>
                            <p><strong>전화번호</strong>도 가능한 남겨주세요.</p>
                        </div>
                    </div>
                </div>

                <div class="col-sm-6 signin_box">
                    <div class="box">
                        <div class="box_cont">
                            <div class="form">
                                <form action="{% url 'users:signup' %}" method="POST">{% csrf_token %}
                                    <input name="username" type="text" class="form-control" placeholder="Enter User name" maxlength="30" required autofocus>
                                    <input name="email" type="text" class="form-control" placeholder="Enter Email" maxlength="64" required>
                                    <input name="contact_number" type="text" class="form-control" placeholder="Enter Contact number (Optional)" maxlength="30" >
                                    <input name="pwd" type="password" class="form-control" placeholder="Enter Password" maxlength="255" required>
                                    <input name="confirm_pwd" type="password" class="form-control" placeholder="Confirm Your Password" maxlength="255" required>

                                    {{ form.captcha }}

                                    <div class="forgot">
                                        <span>Already have an account?</span>
                                        <a href="sign-in">Sign in</a>
                                    </div>
                                    <input type="submit" value="sign up">
                                </form>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>  

{% endblock %}

{% block stylesheet %}
<link rel="stylesheet" href="{% static 'css/compiled/sign-up.css' %}" media="screen" />
{% endblock %}
