{% extends "template.html" %}
{% block content %}
  {% include 'template_menu.html' %}
  {% load boards_custom_tags %}
    <style>
    .board-table {
      border-top: 2px solid #ddd;
    }
    .board-table .number {
      width: 65px;
      text-align: center;
    }
    .board-table .subject {
    }
    
    .board-table .writer {
      width: 90px;
      text-align: center;
      font-size: 11px;
      color: #555;
    }

    .board-table .date {
      width: 85px;
      text-align: center;
      font-size: 11px;
      color: #555;
    }
    .board-table .hits {
      width: 65px;
      text-align: center;
      font-size: 11px;
      color: #555;
    }
    .search-range {
      width: 98px !important;
    }
    .board-search {
      max-width: 380px;
      float: right;
      
    }
    .board-footer-list {
      margin: 10px 0;
    }
    </style>
    <div class="container">
     <h3 class="page-header">{{ board.boardname }}
       {% if top50 and searchvalue %}
         {{ top50 }} : "{{searchvalue}}" 
       {% endif %}
     </h3>

      <div class="table-responsive">
        <table class="table table-striped board-table">
          <thead>
            <tr>
              <th class="number">no</th>
              <th class="subject">subject</th>
              <th class="writer">writer</th>
              <th class="date">date</th>
              <th class="hits">hits</th>
            </tr>
          </thead>
          <tbody>

            {% if posts %}
             {% for post in posts %}
               <tr>
                 <td class="number">
                   {% if post.is_notice %}
                     <div type="button" class="btn btn-default btn-xs">Notice</div>
                   {% else%}
                      <div>{{ forloop.counter }}</div>
                   {% endif %}
                 </td>
                 <td class="subject"><a href="{% url 'boards:postpage' board.id post.id %}"><span>{{ post.subject }}</span></a>
                   {% if post|num_of_comments_in_post %}
                     &nbsp;<font color="brown">{{ post|num_of_comments_in_post }}</font>
                   {% endif %}
                </td>
                 <td class="writer">{{ post.writer.username }}</td>
                 <td class="date">{{ post.date_posted | date:"Y.m.d"}}</td>
                 <td class="hits">100</td>
               </tr>
             {% endfor %}  
             {% endif %}
           </tbody>
        </table>
      </div>
      <div class="clearfix">
        <a href="{% url 'boards:write' board.id %}" class="btn btn-default fr"><span class="glyphicon glyphicon-pencil"></span>&nbsp;Write</a>
      </div>
    
      <div class="text-center board-footer-list">
        <div class="btn-toolbar inline-block" role="toolbar">
          <div class="btn-group btn-group-sm" role="group">
            {% if has_previous %}
              <a href="{% url 'boards:boardpage' board.id previous_page %}" class="btn btn-default">Prev</a>
            {% else %}
              <a href="{% url 'boards:boardpage' board.id 1 %}" class="btn btn-default">Prev</a>
            {% endif %}
          </div>
          <div class="btn-group btn-group-sm" role="group" aria-label="...">
            <a href="" class="btn btn-default active">1</a>
            <a href="" class="btn btn-default">2</a>
            <a href="" class="btn btn-default">3</a>
            <a href="" class="btn btn-default">4</a>
            <a href="" class="btn btn-default">5</a>
          </div>
          {% if has_next %}
            <div class="btn-group btn-group-sm" role="group">
              <a href="{% url 'boards:boardpage' board.id nextpage %}" class="btn btn-default">Next</a>
            </div>
          {% endif %}
        </div>
      </div>
      <div class="clearfix">
        <form action="" method="GET">
          <div class="board-search">
            <div class="input-group">
              <div class="input-group-btn">
                <select class="form-control search-range" name="select_post">
                  <option selected="subname">subject</option>
                  <option>content</option>
                  <option>subject + content</option>
                  <option>writer</option>
                </select>
              </div>
              <input class="form-control" type="text" name="search_post" placeholder="Search Post">
              <div class="input-group-btn">
                <div class="btn btn-default">search</div>
              </div>
              
            </div>
          </div>
        </form>
      </div>
    </div>

{% endblock %}

