{% extends "template.html" %}
{% load boards_custom_tags %}
{% block content %}
  {% include 'template_menu.html' %}
  <style>
  .post {
    border: 1px solid #333;
    border-radius: 5px;
  }
  .notice-block {
    background: white;
    border: 1px solid #ccc;
    display: inline;
    padding: 5px 7px;
    font-size: 12px;
    color: #333;
    border-radius: 3px;
    margin-right: 10px;
  }
  .post .title-block {
    font-weight: normal;
    font-size: 16px;
    border-top: 1px solid #ccc;
    border-bottom: 1px dashed #ccc;
    padding: 7px 2px;
  }
  .splitter {
    border-right: 1px solid #ccc;
    height: 1px;
    width: 1px;
    margin: 0px 10px;
  }
  .post .title-block .board-name {
    font-size: 12px;
    color: #888;
  }
  .post .post-state {
    font-size: 10px;
    color: #333;
  }
  .post .content {
    margin: 30px 0;
  }
  .comment-list {
    padding: 0;
    list-style: none;
    margin-top: 10px;
    border-top: 1px solid #ccc;
    padding-top: 10px;
  }
  .comment-list .comment {
    border-bottom: 1px dashed #ccc;
    margin-bottom: 10px;
  }
  .comment-list .comment .comment-date {
    color: #888;
    font-size: 10px;
  }
  .comment-list .comment .comment-content {
    margin: 8px 0;
    color: #333;
    padding-left: 5px;
  }
  .comment-box {
    margin: 10px 0;
  }
  .comment-box .comment-input {
    resize: none;
    height: 70px !important;
  }
  .comment-box .comment-submit {
    height: 70px !important;
  }
  #attach-file {
    position: relative;
  }
  #attach-file .title {
    cursor: pointer;
    -moz-user-select: -moz-none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  #attach-file .title:hover {
    text-decoration: underline;
  }
  #attach-file .count {
    font-weight: bold;
  }
  #attach-file #attach-file-list {
    display: none;
    margin: 0;
    padding: 0;
    list-style: none;
    padding: 10px;
    border: 1px solid #333;
    position: absolute;
    right: 0;
    z-index: 999;
    background-color: white;
    width: 300px;
  }
  .attach-file-title {
    display: block;
  }
  .attach-file-link {
    display: block;
  }
  .attach-file-title .glyphicon-floppy-disk {
    width: 11px;
    font-size: 11px;
    margin-right: 2px;
  }
  </style>
  <div class="container post">
    <h3 class="title-block clearfix">
      <div class="fl" style="display: inline;">
          {% if post.is_notice %}
          <div class="notice-block">Notice</div>
        {% endif %}
        <span class="title">{{ post.subject }}</span>
        <span class="board-name"><span class="splitter"></span><a href="{% url 'boards:board_post_list' board.id 1 %}" class="board-name">{{ board.boardname }}</a></span>
      </div>
      <div class="fr">
        {% if post.writer == user or user.is_superuser %}
          <a href="{% url 'boards:rewrite' board.id post.id %}" type="button" class="btn btn-default btn-xs">Rewrite</a>
          <a href="{% url 'boards:deletepost' board.id post.id %}" class="btn btn-danger btn-xs">Delete</a>
        {% endif %}
      </div>
    </h3>
    <div class="clearfix">
      <div class="post-state fl">
        {{ post.writer.username }}<span class="splitter"></span>{{ post.date_posted | date:"Y.m.d h:m A" }}<span class="splitter"></span>조회 : {{ post.hit_count }}
      </div>
      {% if not attachments_count == 0 %}
      <div id="attach-file" class="fr">
        <span class="title">첨부 파일 <span class="count">{{ attachments_count }}</span></span>
        <ul id="attach-file-list">
          {% for attachment in post.attachments.all %}
          <li class="clearfix">
            <span class="attach-file-title fl"><span class="glyphicon glyphicon-floppy-disk"></span>{{ attachment.file_name | slice_without_ext:10 }}</span>
            <a href="{% url 'boards:file_download' attachment.md5_hash %}" class="attach-file-link fr">다운로드</a>
          </li>
          {% endfor %}
        </ul>
      </div>
      {% endif %}
    </div>
    <div class="content">
      {% if post.content %}
        {% autoescape off %}{{ post.content }}{% endautoescape %}
      {% endif %}
    </div>
    <div class="comment-block">
      <span class="title">댓글 {{ commentlist|length }}</span>
      <ul class="comment-list">
        {% if commentlist %}
          {% for comment in commentlist %}
          <li class="comment">
            <div class="clearfix">
              <span class="title fl">
                {{ comment.writer.username }}<span class="splitter"></span><span class="comment-date">{{ comment.date_commented | date:"Y.m.d h:m A" }}</span>
              </span>
              {% if comment.writer == user or user.is_superuser %}
                <a href="{% url 'boards:deletecomment' board.id post.id comment.id  %}" class="btn btn-danger btn-xs fr">Delete</a>
              {% endif %}
            </div>
            <p class="comment-content">
              {{ comment.comment }}
            </p>
          </li>
          {% endfor %}  
        {% endif %}
      </ul>
      <form method="POST">{% csrf_token %}
        <div class="input-group comment-box">
          <textarea name="comment" placeholder="Write a comment" class="form-control comment-input" size="64" onkeydown="if (event.keyCode == 13) {return false;}" cols="40"></textarea>
          <span class="input-group-btn">
            <input type="submit" class="btn btn-default comment-submit" value="Comment" name="submit_comment">
          </span>
        </div>
      </form>
    </div>
  </div>
{% endblock %}

{% block javascript %}
<script>
  $('#attach-file .title').click(function(e) {
    if($('#attach-file-list').css('display') == 'none')
      $('#attach-file-list').css('display', 'block');
    else
      $('#attach-file-list').css('display', 'none');

    e.stopPropagation();
  });
  $('body').click(function() {
    $('#attach-file-list').css('display', 'none');
  })
</script>
{% endblock %}

