{% extends "template.html" %}
{% load staticfiles%}
{% block content %}
{% include "template_menu.html" %}
<style>
  .django-ckeditor-widget {
    width: 100%;
  }
  .extra-inputs {
    margin-top: 14px;
  }
  .extra-input {
    margin-top: 10px;
  }
  #attachment-list {
    list-style: none;
    padding: 0px;
    border: 1px solid #ccc;
    border-radius: 3px;
  }
  #attachment-list > li {
    padding: 10px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;
  }
  #attachment-list > li:hover {
    background: #eee;
  }
  #attachment-list .remove-icon {
    color: #f55;
    cursor: pointer;
  }
  #no-files {
    text-align: center; color: #CCC; font-style: italic;
  }
</style>
<div class="container">
  {% if post %}
  <form id="post-form" method="POST" action="{% url 'boards:rewrite' board.id post.id %}">
  {% else %}
  <form id="post-form" method="POST" action="{% url 'boards:write' board.id %}">
  {% endif %}
    {% csrf_token %}
    <div class="form-group">
      <div class="input-group">
        <div class="input-group-addon">제목</div>
        <input class="form-control" name="subject" type="text" placeholder="Enter Subject" value="{{ post.subject }}" maxlength="255" onkeydown="if (event.keyCode == 13) {return false;}" required autofocus>
        {% if user.is_admin %}
        <div class="input-group-addon"><input type='checkbox' id="inlineCheckbox1" value="option1" name='is_notice'> Is notice?</div>
        {% endif %}
      </div>
    </div>
    <div>
        {{ ckeditor_form.content }}
    </div>
    <div class="extra-inputs">
      <div class="row extra-input">
        <label for="inputEmail3" class="col-sm-2 control-label">첨부파일</label>
        <div class="col-sm-10">
          <div id="attchment-file-error"></div>
          <ul id="attachment-list" class="empty">
            <li id="no-files">No files</li>
          </ul>  
        </div>
      </div>
      <div class="row extra-input">
        <label for="inputEmail3" class="col-sm-2 control-label">태그</label>
        <div class="col-sm-10">
          <input type="email" class="form-control" id="inputEmail3" placeholder="Email">
        </div>
      </div>
    </div>
    <div class="text-center" style="margin-top: 50px;">
      <input id="post-submit-button" class="btn btn-default inline-block" name="post" type="submit" value="POST" data-loading-text="Loading...">
      <a href="javascript:history.go(-1);" id="post-cancel-button" class="btn btn-default inline-block">Cancel</a>
    </div>
  </form>
</div>
{% endblock %}

{% block javascript %}
<script>
  ATTACH_FILTERS = {
      max_file_size : '10mb',
        mime_types: [
          {title : "Image files", extensions : "jpg,gif,png"},
          {title : "Zip files", extensions : "zip"}
        ]
    }
</script>
<script src="{% static 'ckeditor/ckeditor/ckeditor.js' %}"></script>
<script src="{% static 'ckeditor/ckeditor-init.js' %}"></script>
<script src="{% static 'js/plupload.full.min.js' %}"></script>
<script src="{% static 'js/plupload.i18n/ko.js' %}"></script>
<script>
  var file_uploaded = false;

  CKEDITOR.editor.attachFileAdded = function(up, files) {
    if($('#attachment-list').hasClass('empty')) {
      $('#attachment-list').removeClass('empty');
      $('#no-files').remove();
    }

    plupload.each(files, function(file) {
      document.getElementById('attachment-list').innerHTML += '<li id="' + file.id + '" class="clearfix"> \
        <span class="name fl">' + file.name + '</span> \
        <div class="fr"> \
          <span class="size">' + plupload.formatSize(file.size) + '</span> \
          <span class="remove-icon glyphicon glyphicon-remove" onclick="removeFile(this, ' + file.id + ');"></span>\
          <span class="upload-percent"></span> \
        </div> \
      </li>';
    });
  };

  CKEDITOR.editor.attachUploading = function(up, file) {
    var percent_tag = $('#' + file.id + ' .upload-percent').text(file.percent + "%");
  };
  CKEDITOR.editor.attachBeforeUpload = function(up, file) {
    $('#' + file.id + ' .remove-icon').remove();
    up.settings.url = "http://posttestserver.com/post.php";
  }
  CKEDITOR.editor.attachError = function(up, err) {

    // document.getElementById('console').innerHTML += "\nError #" + err.code + ": " + err.message;
    error_context = $('<div class="alert alert-danger fade in" role="alert"> \
        <button type="button" class="close" data-dismiss="alert" aria-label="Close"> \
          <span aria-hidden="true">&times;</span> \
        </button> \
        <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span> \
        <span class="sr-only">Error:</span> \
        ' + err.message + ' \
      </div>');

    $('#attchment-file-error').append(error_context);
    setInterval(function() {
      error_context.alert('close');
    }, 5000);
  }
  CKEDITOR.editor.attachFileUploaded = function(up, file, ret) {
    console.log(up);
    console.log(file);
    console.log(ret);
    if(ret.status == 200) {
      $('#post-form').append('<input type="hide" name="files_key[]" value="sadjldksjflkds">');
      ret.response
    }
  }
  CKEDITOR.editor.attachUploaded = function() {
    file_uploaded = true;
    $('#post-form').submit();
  }

  $('#post-form').submit(function(e) {
    if(file_uploaded || CKEDITOR.editor.uploader.files.length == 0) {
      return true;
    }
    else {
      e.preventDefault();
      $("#post-submit-button").button('loading')
      $('#post-cancel-button').remove();
      CKEDITOR.editor.uploader.start();
      // $btn.button('reset');
    }
  });

  function removeFile(elem, file_id) {
    CKEDITOR.editor.uploader.removeFile(file_id);
    if(typeof(file_id) == 'string') {
      $('#' + file_id).remove();
    }
    else {
      $(file_id).remove(); 
    }
    
    if($('#attachment-list').children().length == 0) {
      $('#attachment-list').append('<li id="no-files">No files</li>');
    }
  }
</script>
{% endblock%}

