@import url(http://fonts.googleapis.com/earlyaccess/nanumgothic.css);

html {
  background-color: #252528;
}
html, p, input {
	font-family: '나눔고딕', 'NanumGothic', 'Nanum Gothic', serif;
}

.dark-gray {
	color: #333;
}

.gray {
	color: #AAA;
}

.navbar.navbar-inverse {
	background: rgba(0, 50, 100, 0.4);
}

.text-center {
	text-align: center;
}

.inline-block {
	display: inline-block;
}
.fr {
  float: right;
}
.fl {
	float: left;
}

@media (max-width: 991px) {
  #reponsive-safe-box {
    margin-top: 120px;
  }
  .navbar ul.navbar-nav .open .dropdown-menu > li > a {
  	color: white;
  	opacity: .6;
  }
  .navbar ul.navbar-nav .open .dropdown-menu > li > a:hover {
  	opacity: 1;
  }
}
.board-new {
  color: #428bca;
}
