@import url(http://fonts.googleapis.com/earlyaccess/nanumgothic.css);

html, p, input {
	font-family: '나눔고딕', 'NanumGothic', 'Nanum Gothic', serif;
}

.dark-gray {
	color: #333;
}

.gray {
	color: #AAA;
}

.navbar.navbar-inverse {
	background: rgba(0, 50, 100, 0.4);
}