@import url(http://fonts.googleapis.com/earlyaccess/nanumgothic.css);

html {
  background-color: #252528;
}
html, p, input {
	font-family: '나눔고딕', 'NanumGothic', 'Nanum Gothic', serif;
}

.text-center {
	text-align: center;
}

.inline-block {
	display: inline-block;
}
.fr {
  float: right;
}
.fl {
	float: left;
}

.board-new {
  color: #428bca;
}

.navbar {
  border-radius: 0 !important;
  background-color: #252528;
  margin: 0;
}

#footer {
  padding-top: 20px;
  background: #252528;
  height: 100px;
  color: #bfbfbf;
}
@media (max-width: 1024px) {
  .navbar .container {
    width: 1024px;
  }
}
.navbar-inverse .navbar-brand {
  color: white;
}

#reponsive-safe-box > .container, #sign_up2, #sign_in2 {
  padding: 40px 0;
}
